<div class="mat-app-background basic-container">
  <mat-tab-group>
    <mat-tab label="Market Summary">
      <mat-sidenav-container>
        <mat-sidenav #sidenav position="end" mode="side" class="example-sidenav">
          <a mat-button (click)="sidenav.close()" class="close-sidenav">
            <i class="fas fa-window-close fa-lg"></i>
          </a>
          <a mat-button (click)="handleFav(marketName)" class="fav-sidenav">
            <i class="fas fa-star fa-lg" [ngClass]="[liveDataFavs.indexOf(marketName)>=0 ? '' : 'fa-regular']"></i>
          </a>
          <div class="info-sidenav">
            <span class="">
              <i class="fas fa-dot-circle fa-fw fa-ask"></i> Ask</span>
            <span class="">
              <i class="fas fa-dot-circle fa-fw fa-bid"></i> Bid</span>
          </div>
          <app-market-live-data [market]="marketName"></app-market-live-data>
        </mat-sidenav>
        <mat-sidenav-content>
          <app-market-list [liveDataFavs]="liveDataFavs" (showLiveData)="showLiveData($event)"></app-market-list>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-tab>
    <mat-tab label="Favorites">
      <mat-card class="example-card" *ngFor="let item of liveDataFavs?.reverse()">
        <mat-card-content>
          <app-market-live-data [market]="item"></app-market-live-data>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button (click)="handleFav(item)" class="closecard-sidenav">
            <i class="fas fa-window-close fa-2x"></i>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>